<mat-toolbar>
    <span class="example-spacer">Add Custumber</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="customer_form">
    <div id="main_area">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Shop Name</mat-label>
                <input matInput formControlName="shop_name" placeholder="Shop Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Owner Name</mat-label>
                <input matInput formControlName="Owner_name" placeholder="Owner Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contact Number</mat-label>
                <input formControlName="contact_number" matInput type="number" onkeypress=" return this.value.length < 10"
                    oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}" placeholder="Contact Number">
            </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contact Person</mat-label>
            <input matInput  formControlName="Contact_Person" placeholder="Contact Person">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WhatsApp No</mat-label>
            <input formControlName="WhatsApp_number" matInput type="number" onkeypress=" return this.value.length < 10"
                oninput="if(this.value.length>=10) {this.value = this.value.sclice (0,10);}" placeholder="WhatsApp No">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email Id</mat-label>
            <input matInput formControlName="Email" placeholder="Email Id">
        </mat-form-field>

    </div>
    <mat-form-field appearance="fill" class="adr" >
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address" placeholder="Address"></textarea>
    </mat-form-field>
</div>

    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
    <input type="number" formControlName="id" readonly hidden>
</form>

<div class="submit">
    <button mat-raised-button color="warn" (click)="add_customer_reset()">Reset</button>
    <button mat-raised-button color="primary" [disabled]="!customer_form.valid">{{actionBtn}}</button>
</div>