<mat-toolbar>
    <span class="example-spacer">Add Expense</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="expense_form">
    <div id="main_area">
        <div class="box">
            <mat-form-field appearance="fill" class="example-full-width" class="Select" >
                <mat-label>Expense Type</mat-label>
                <mat-select formControlName="Expense_Type" placeholder="---Select---">
                    <mat-option value="">---Select---</mat-option>
                    <mat-option value="Bijli">Bijli Bill</mat-option>
                    <mat-option value="24">24</mat-option>
                    <mat-option value="35">35</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Today Sale</mat-label>
                <input matInput formControlName="Today_Sale" placeholder="Today Sale">
            </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Closeing Amount</mat-label>
            <input formControlName="Closeing_Amount" matInput type="Enter Closing Amount" placeholder="Closeing Amount">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Expense</mat-label>
            <input matInput formControlName="Expense" placeholder="Expense">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
            <mat-label>Date </mat-label>
            <input matInput type="date" class="example-right-align" placeholder="0.00">
        </mat-form-field>

        </div>
    </div>
    <mat-form-field appearance="fill" class="adr">
        <mat-label>Remarks</mat-label>
        <textarea matInput formControlName="Remarks" placeholder="Remarks"></textarea>
    </mat-form-field>

    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
    <input type="number" formControlName="id" readonly hidden>
</form>

<div class="submit">
    <button mat-raised-button color="warn" (click)="add_expense_reset()">Reset</button>
    <button mat-raised-button color="primary" [disabled]="!expense_form.valid">{{actionBtn}}</button>
</div>