<div class="sidebar">
    <div class="top_head">
        <span class="title_text">Vikash Enterprizes</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <div>
                <button mat-button class="menu-button" (click)="Master_dropdown()" [routerLink]="['/#']">
                    <mat-icon>list_alt</mat-icon>
                    <span>Master Entry</span>
                    <mat-icon [hidden]="action_icon1">chevron_right</mat-icon>
                    <mat-icon [hidden]="action_icon2">expand_more</mat-icon>
                </button>


                <div id="dropdown_report">
                    <button mat-button class="menu-button" [routerLink]="['party']">
                        <mat-icon>list_alt</mat-icon>
                        <span>Party</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['unit']">
                        <mat-icon>notes</mat-icon>
                        <span>Unit</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['gst']">
                        <mat-icon>style</mat-icon>
                        <span>GST</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['weight']">
                        <mat-icon>question_answer</mat-icon>
                        <span>Weight</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['category']">
                        <mat-icon>question_answer</mat-icon>
                        <span>Category</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['item']">
                        <mat-icon>question_answer</mat-icon>
                        <span>Item</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['employee']">
                        <mat-icon>group</mat-icon>
                        <span>Employee</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['customer']">
                        <mat-icon>person_add</mat-icon>
                        <span>Customer</span>
                    </button>


                </div>

            <div>

            <button mat-button class="menu-button" [routerLink]="['purchase']">
                <mat-icon>list_alt</mat-icon>
                <span>Purchase</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['sale']">   
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Sale</span>
            </button>

            
            <button mat-button class="menu-button" [routerLink]="['dues']">
                <mat-icon>redeem</mat-icon>
                <span>Dues</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['reciept']">
                <mat-icon>list_alt</mat-icon>
                <span> Reciept</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['account']">
                <mat-icon>account_balance</mat-icon>
                <span>Account</span>
            </button>


            <button mat-button class="menu-button" [routerLink]="['expense']">
                <mat-icon>accessible</mat-icon>
                <span>Expense</span>
            </button>
            </div>

            
                <div>
                    <button mat-button class="menu-button" (click)="report_dropdown()" [routerLink]="['/#']">
                        <mat-icon>list_alt</mat-icon>
                        <span>Report</span>
                        <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
                        <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
                    </button>

                    <div id="report_dropdown" style="display: none;">
                        <button mat-button class="menu-button" [routerLink]="['purchase_report']">
                            <mat-icon>list_alt</mat-icon>
                            <span>Purchase Report</span>
                        </button>

                    <button mat-button class="menu-button" [routerLink]="['sale_report']">
                        <mat-icon>accessible</mat-icon>
                        <span>Sele Report</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['stock_report']">
                        <mat-icon>accessible</mat-icon>
                        <span>Stock Report</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['expiry_report']">
                        <mat-icon>accessible</mat-icon>
                        <span>Expiry Report</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['purchase_cancel']">
                        <mat-icon>accessible</mat-icon>
                        <span>Purchase Cancel</span>
                    </button>

                    <button mat-button class="menu-button" [routerLink]="['sale_cancel']">
                        <mat-icon>accessible</mat-icon>
                        <span>Sale Cancel</span>
                    </button>

                    </div>
                </div>
            </div>
        </div>

           
               