<div class="main_area">
  

    <a  [routerLink]="['party']">
        <div id="thumbnail" class="color5">
            <mat-icon>account_box</mat-icon><br>
            <span><b>10</b></span><br>
            <span>Party</span><br>
        </div>
    </a>

    <a [routerLink]="['unit']">
        <div id="thumbnail" class="color1">
            <mat-icon>add_shopping_cart</mat-icon><br>
            <span><b>31</b></span><br>
            <span>Unit </span>
        </div>
    </a>

    <a [routerLink]="['gst']">
        <div id="thumbnail" class="color2">
            <mat-icon>style</mat-icon><br>
            <span><b>60</b></span><br>
            <span>GST</span>
        </div>
    </a>
    <a [routerLink]="['weight']">
        <div id="thumbnail" class="color3">
            <mat-icon>question_answer</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Weight</span>
        </div>
    </a>

    <a [routerLink]="['category']">
        <div id="thumbnail" class="color3">
            <mat-icon>question_answer</mat-icon><br>
            <span><b>47</b></span><br>
            <span>Category</span>
        </div>
    </a>


    <a [routerLink]="['item']">
        <div id="thumbnail" class="color6">
            <mat-icon>question_answer</mat-icon><br>
            <span><b>56</b></span><br>
            <span>Item</span>
        </div>
    </a>

    <a [routerLink]="['employee']">
        <div id="thumbnail" class="color8">
            <mat-icon>group</mat-icon>
            <span><b>7</b></span><br>
            <span>Employee</span>
        </div>
    </a>

  
    <a [routerLink]="['customer']">
        <div id="thumbnail" class="color9">
            <mat-icon>person_add</mat-icon>
            <span><b>25</b></span><br>
            <span>Customer</span>
        </div>
    </a>

    <a [routerLink]="['purchase']">
        <div id="thumbnail" class="color9">
            <mat-icon>list_alt</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Purchase</span>
        </div>
    </a>

    <a [routerLink]="['sale']">
        <div id="thumbnail" class="color9">
            <mat-icon>list_alt</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Sale</span>
        </div>
    </a>

    <a [routerLink]="['dues']">
        <div id="thumbnail" class="color9">
            <mat-icon>redeem</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Dues</span>
        </div>
    </a>

    <a [routerLink]="['reciept']">
        <div id="thumbnail" class="color9">
            <mat-icon>list_alt</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Reciept</span>
        </div>
    </a>

    <a [routerLink]="['account']">
        <div id="thumbnail" class="color9">
            <mat-icon>payment</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Account</span>
        </div>
    </a>

    <a [routerLink]="['expense']">
        <div id="thumbnail" class="color9">
            <mat-icon>accessible</mat-icon><br>
            <span><b>25</b></span><br>
            <span>Expense</span>
        </div>
    </a>

   