<mat-toolbar>
    <span class="example-spacer">Dues</span>
    <mat-icon mat-dialog-close>cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="dues_form">
    <div id="main_area">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Customer Name</mat-label>
                <input matInput formControlName="Customer_Name" placeholder="Customer Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pey</mat-label>
                <input matInput formControlName="Pey" placeholder="Pey">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Bill number</mat-label>
                <input matInput formControlName="Bil_lnumber" placeholder="Bill number">
            </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Current dues</mat-label>
            <input matInput formControlName=" Current_dues" placeholder=" Current dues">
        </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Back dues</mat-label>
                <input formControlName="Back_dues" matInput type="Account_Number"placeholder="Back dues" >
            </mat-form-field>
            
        

            <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                <mat-label>Date </mat-label>
                <input matInput type="date" class="example-right-align" placeholder="0.00">
            </mat-form-field>
        </div>
    </div>

    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
    <input type="number" formControlName="id" readonly hidden>
</form>

<div class="submit">
    <button mat-raised-button color="warn" (click)="add_dues_reset()">Reset</button>
    <button mat-raised-button color="primary" [disabled]="!dues_form.valid">{{actionBtn}}</button>
</div>