<mat-toolbar>
    <span class="example-spacer">Add GST</span>
    <mat-icon mat-dialog-close class="add_gst">cancel</mat-icon>
</mat-toolbar>

<form [formGroup]="gst_form">
    <div id="main_area">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>GST</mat-label>
                <input matInput formControlName="gst" placeholder="GST">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>CGST</mat-label>
                <input matInput formControlName="cgst" placeholder="CGST">
            </mat-form-field><br>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>SGST</mat-label>
                <input matInput formControlName="sgst" placeholder="SGST">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput formControlName="Description" placeholder="Description">
            </mat-form-field>
            
        </div>
        </div>


    <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
    <input type="number" formControlName="id" readonly hidden>
</form>

<div class="submit">
    <button mat-raised-button color="warn" (click)="add_gst_reset()">Reset</button>
    <button mat-raised-button color="primary" [disabled]="!gst_form.valid">{{actionBtn}}</button>
</div>